---
import Layout from "../layouts/main.astro";
import HeroSection from "@/components/HeroSection.astro";
import ServicesCard from "@/components/ServicesCard.astro";
import TestimonyCard from "@/components/TestimonyCard.astro";
import { Button } from "@/components/ui/button";
import { MoveRight } from "lucide-react";
import CTA from "@/components/CTA.astro";
const content = { title: "Inicio" };
---

<Layout content={content}>
	<HeroSection />
	<ServicesCard />
	<div class="grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-20 max-w-7xl mx-auto min-h-[80%] md:min-h-[80%] items-center">
		<div class="w-full p-4 md:p-0 h-full flex items-center">
			<img
				src="https://plus.unsplash.com/premium_photo-1682597000871-82c0ab1298ae?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
				alt="Andina Group E.I.R.L."
				class="w-full h-[350px] md:h-[80%] rounded-lg shadow-lg object-cover"
			/>
		</div>
		<div class="flex flex-col justify-center h-full p-4 md:p-0">
			<h2 class="text-5xl text-center md:text-left md:text-[70px] font-bold">
				No sólo construimos, <span class="text-primary">creamos</span>
			</h2>
			<p class="text-lg md:text-xl font-light mt-4 text-center md:text-left">
				En Andina Group E.I.R.L. nos especializamos en ofrecer soluciones
				integrales para hogares, negocios y proyectos comerciales. Nuestro
				compromiso es brindar un servicio de calidad, adaptándonos a las
				necesidades de cada cliente y garantizando resultados que superen sus
				expectativas. Trabajamos con materiales de primera y un equipo
				profesional que acompaña cada etapa del proyecto, desde la planificación
				hasta la entrega final.
				<br />
				<br />
				Contamos con un equipo técnico altamente capacitado en carpintería, melamina,
				aluminio, cerrajería, vidriería, pintura, drywall, estructuras metálicas
				y acabados generales. Nos enfocamos en brindar resultados funcionales, duraderos
				y con excelente presentación.
			</p>
			<Button className="mt-6 cursor-pointer">
				Lea más sobre nosotros
				<MoveRight className="w-4 h-4" />
			</Button>
		</div>
	</div>
	<div
		class="w-full flex flex-wrap justify-center gap-6 px-4 py-60 relative bg-center bg-cover bg-scroll md:bg-fixed mt-10"
		style={{
			backgroundImage:
				"url('https://images.unsplash.com/photo-1738817628138-b794ed944ed5?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')",
		}}
	>
	</div>
	<TestimonyCard />
	<CTA />
</Layout>
