---
import ContactForm from "./ContactForm";
import { Button } from "@/components/ui/button";
---

<section
  class="relative isolate min-h-[90svh] overflow-hidden bg-neutral-900 text-white">
  <img
    src="https://images.unsplash.com/photo-1647571506563-6e6f19c237e1?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt="Fondo hogar"
    class="absolute inset-0 -z-10 size-full object-cover object-center opacity-80"
    loading="eager"
  />

  <div class="absolute inset-0 -z-10 bg-gradient-to-r from-black/70 to-black/20"></div>

  <div class="grid max-w-7xl grid-cols-1 gap-20 mx-auto md:grid-cols-[1.2fr_.8fr] py-36">
    <div class="flex flex-col justify-center gap-10" data-aos="fade-up">
      <h1 class="text-5xl md:text-[70px] font-semibold leading-[1.05] tracking-tight text-center md:text-left">
        Profesionales a tu servicio.
      </h1>
      <p class="max-w-2xl text-lg md:text-xl px-4 md:px-0 text-white/85 text-center md:text-left font-light">
        En Andina Group E.I.R.L. nos especializamos en ofrecer soluciones integrales para hogares, negocios y proyectos comerciales.
      </p>
      <div class="flex flex-wrap gap-4 justify-center md:justify-start">
        <a href="/contacto" class="contents">
          <Button className="rounded-md bg-primary px-5 py-3 font-medium text-white shadow transition hover:bg-white hover:text-primary cursor-pointer h-10 text-sm md:text-base md:px-6 md:py-2">
            Reserve una consulta gratuita
          </Button>
        </a>
        <a href="/servicios" class="contents">
          <Button className="rounded-md bg-white/10 px-5 py-3 font-medium text-white backdrop-blur transition hover:bg-primary hover:text-white cursor-pointer h-10 text-sm md:text-base md:px-6 md:py-2">
            Consulta nuestros servicios
          </Button>
        </a>
      </div>
    </div>
    <div data-aos="fade-up" data-aos-delay="100">
      <ContactForm client:load />
    </div>
  </div>
</section>
