---
import { Button } from "@/components/ui/button";
import { MoveRight } from "lucide-react";

const services = [
  {
    title: "Estructuras metálicas",
    description: "Disponemos de opciones como techos curvos, a dos y una agua, y con aislamiento térmico. Trabajamos con materiales de alta calidad como Aluving TRU, TR3, garantizando durabilidad y eficiencia.",
    image: "https://images.unsplash.com/photo-1707226846619-b2a8bca33671?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
  },
];

---

<section class="bg-white py-12 max-w-7xl mx-auto" data-aos="fade-up">
  <div class="container mx-auto px-4 py-12">
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {services.map((service) => (
        <div class="bg-white rounded-lg shadow-md overflow-hidden">
          <div class="relative">
            <img src={service.image} alt={service.title} class="w-full h-48 object-cover" />
            <div class="absolute inset-x-0 bottom-0 h-28 bg-gradient-to-t from-white to-transparent"></div>
            <div class="absolute bottom-4 left-4 right-4">
              <h3 class="text-3xl font-semibold text-black drop-shadow-sm">{service.title}</h3>
            </div>
          </div>
          <div class="p-6">
            <p class="text-gray-600">{service.description}</p>
            <a href="/servicios" class="contents">
              <Button className="mt-4 cursor-pointer hover:bg-white hover:text-primary border hover:border-primary">
                Más información
                <MoveRight className="w-4 h-4" />
              </Button>
            </a>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>